.customColor1 {
  color: #bada55 !important;
}

a.customColor1:hover, a.customColor1:focus {
  color: #bada55 !important;
}

.customColor2 {
  color: #7fe5f0 !important;
}

a.customColor2:hover, a.customColor1:focus {
  color: #7fe5f0 !important;
}

.customColor3 {
  color: #ff0000 !important;
}

a.customColor3:hover, a.customColor1:focus {
  color: #ff0000 !important;
}

.customColor4 {
  color: #ff80ed !important;
}

a.customColor4:hover, a.customColor1:focus {
  color: #ff80ed !important;
}

.customColor5 {
  color: #696969 !important;
}

a.customColor5:hover, a.customColor1:focus {
  color: #696969 !important;
}

.customColor6 {
  color: #133337 !important;
}

a.customColor6:hover, a.customColor1:focus {
  color: #133337 !important;
}

.customColor7 {
  color: #065535 !important;
}

a.customColor7:hover, a.customColor1:focus {
  color: #065535 !important;
}

.customColor8 {
  color: #f7347a !important;
}

a.customColor8:hover, a.customColor1:focus {
  color: #f7347a !important;
}

.customColor9 {
  color: #ffc0cb !important;
}

a.customColor9:hover, a.customColor1:focus {
  color: #ffc0cb !important;
}

.customColor10 {
  color: #dcedc1 !important;
}

a.customColor10:hover, a.customColor1:focus {
  color: #dcedc1 !important;
}

.customColor11 {
  color: #420420 !important;
}

a.customColor11:hover, a.customColor1:focus {
  color: #420420 !important;
}

.customColor12 {
  color: #008080 !important;
}

a.customColor12:hover, a.customColor1:focus {
  color: #008080 !important;
}

.customColor13 {
  color: #ffd700 !important;
}

a.customColor13:hover, a.customColor1:focus {
  color: #ffd700 !important;
}

.customColor14 {
  color: #ff7373 !important;
}

a.customColor14:hover, a.customColor1:focus {
  color: #ff7373 !important;
}

.customColor15 {
  color: #e6e6fa !important;
}

a.customColor15:hover, a.customColor1:focus {
  color: #e6e6fa !important;
}

.customColor16 {
  color: #ffa500 !important;
}

a.customColor16:hover, a.customColor1:focus {
  color: #ffa500 !important;
}

.customColor17 {
  color: #d3ffce !important;
}

a.customColor17:hover, a.customColor1:focus {
  color: #d3ffce !important;
}

.customColor18 {
  color: #b0e0e6 !important;
}

a.customColor18:hover, a.customColor1:focus {
  color: #b0e0e6 !important;
}

.customColor19 {
  color: #f0f8ff !important;
}

a.customColor19:hover, a.customColor1:focus {
  color: #f0f8ff !important;
}

.customColor20 {
  color: #faebd7 !important;
}

a.customColor20:hover, a.customColor1:focus {
  color: #faebd7 !important;
}

.customColor21 {
  color: #800080 !important;
}

a.customColor21:hover, a.customColor1:focus {
  color: #800080 !important;
}

.customColor22 {
  color: #333333 !important;
}

a.customColor22:hover, a.customColor1:focus {
  color: #333333 !important;
}

.customColor23 {
  color: #ff6666 !important;
}

a.customColor23:hover, a.customColor1:focus {
  color: #ff6666 !important;
}

.customColor24 {
  color: #0000ff !important;
}

a.customColor24:hover, a.customColor1:focus {
  color: #0000ff !important;
}

.login-button {
  margin: auto;
  width: 50%;
}
